@import "./_header";
@import "./_homePage";
@import "./_footer";
@import "./navbarMobilePage";
@media screen and (max-width: 700px) {
	.cursor,
	.cursor2 {
		display: none;
	}
	.header {
		nav {
			display: none;
		}
		.menu-toggler {
			display: flex;
		}
	}
	.footer {
		height: 200px;
		flex-direction: column;
		justify-content: space-evenly;
		.contact,
		.tel,
		.social {
			width: 100%;
		}
		.social {
			justify-content: flex-start;
			gap: 2rem;
		}
	}
	/*HOMEPAGE*/
	.container {
		padding-top: 0;
		padding-bottom: 4rem;
		.container_homepage {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
			.homepage-banner--slider,
			.chuyenslide,
			.text-transition {
				display: none !important;
			}
			.homepage-title {
				position: relative !important;
				left: 0;
				padding: 0 8%;
				line-height: 2.2em;
				width: 100%;
				.sliderStatus {
					display: none !important;
				}
				.homepage-title--contentTitle,
				.homepage-title--mainTitle {
					font-size: 1.8em !important;
				}
			}
			.aboutMobile-title {
				display: block !important;
				width: 100%;
				padding: 0 8%;
				color: #888;
				line-height: 1.7rem;
				text-align: left;
			}
			.homepage-banner--sliderMobile {
				margin-top: 2rem;
				display: block;
				width: 100%;
				overflow-x: scroll;
				.homepage-banner--sliderMobile_wrapper {
					display: flex;
					flex-wrap: nowrap;
					padding: 0 5%;
					.sliderAll {
						display: inline-block;
						width: 350px;
						height: 350px;
						margin: 0 1rem;
						border-radius: 0;
						.slider-img {
							width: 350px;
							height: 350px;
							border-radius: 0;
						}
						.slider1-Content,
						.slider2-Content,
						.slider3-Content {
							font-size: 0.9rem;
							.lt,
							.rt,
							.lb,
							.rb {
								border-radius: 0;
							}
						}
					}
				}
			}
		}
	}
}
