@import "./_header";
@import "./_homePage";
@import "./_footer";

@media screen and (max-width: 700px) {
	header {
		background-color: lightblue;
		min-width: 100% !important;
		nav {
			display: none;
		}
		.menu-toggler {
			display: flex;
		}
	}
	footer {
		background-color: lightblue;
		height: 200px;
		flex-direction: column;
		justify-content: space-evenly;
		.contact,
		.tel,
		.social {
			width: 40%;
		}
		.social {
			justify-content: flex-start;
			gap: 2rem;
		}
	}
}
