@import "./_header";
@import "./_homePage";
@import "./_footer";
@import "./navbarMobilePage";
@media screen and (max-width: 700px) {
	.header {
		background-color: lightblue;
		nav {
			display: none;
		}
		.menu-toggler {
			display: flex;
		}
	}
	.footer {
		background-color: lightblue;
		height: 170px;
		flex-direction: column;
		justify-content: space-evenly;
		.contact,
		.tel,
		.social {
			width: 100%;
		}
		.social {
			justify-content: flex-start;
			gap: 2rem;
		}
	}
	/*HOMEPAGE*/
	.container {
		height: 100%;
		padding: 0;
		.container_homepage {
			display: flex;
			flex-direction: column;
			.homepage-banner--slider,
			.chuyenslide,
			.text-transition {
				display: none !important;
			}
			.homepage-title {
				position: relative !important;
				left: 0;
				padding: 0 8%;
				line-height: 2.2em;
				width: 100%;
				border: 3px solid black;
				.sliderStatus {
					display: none !important;
				}
				.homepage-title--contentTitle,
				.homepage-title--mainTitle {
					font-size: 1.8em !important;
				}
			}
			.aboutMobile-title {
				display: block !important;
				width: 100%;
				padding: 0 8%;
				margin-top: 3rem;
				color: #888;
				line-height: 1.7em;
				text-align: left;
				border: 3px solid black;
			}
		}
	}
}
