@charset "UTF-8";
.header {
  min-width: 100%;
  height: 100px;
  padding: 0 8% 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .logo a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  color: #333;
}

.header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header nav .nav-links .nav-links--link {
  color: #333;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
}

.header nav .nav-links .nav-links--link .link {
  text-decoration: none;
  color: #333;
  font-weight: 650;
}

.header nav .nav-links .nav-links--link .link:hover {
  color: #ff6961;
}

.header .menu-toggler {
  position: absolute;
  height: 2rem;
  width: 3rem;
  top: 1.9rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 650ms ease-out;
  transition: -webkit-transform 650ms ease-out;
  transition: transform 650ms ease-out;
  transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: none;
}

.header .menu-toggler .bar {
  background: #ff6961;
  border-radius: 0.8rem;
  width: 100%;
  height: 4px;
  display: block;
}

.header .menu-toggler .half {
  width: 50%;
}

.header .menu-toggler .start {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.header .menu-toggler .end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.header .menu-toggler .open .bar.end {
  /*vì nó là class con nên đặt tên cho class tác động trên JS phải nằm trước*/
  -webkit-transform: rotate(-450deg) translateX(-0.8rem);
          transform: rotate(-450deg) translateX(-0.8rem);
}

.header .menu-toggler.open {
  /*vì nó là class cha nên đặt tên cho class tác động trên JS phải nằm sau*/
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /*xoay theo chiều Z (tức xoay phẳng 2D)*/
}

.header .open .bar {
  background: #dddddd;
}

.header .open .bar.start {
  /*vì nó là class con nên đặt tên cho class tác động trên JS phải nằm trước*/
  -webkit-transform: rotate(-450deg) translateX(0.8rem);
          transform: rotate(-450deg) translateX(0.8rem);
}

.header .open .bar.end {
  /*vì nó là class con nên đặt tên cho class tác động trên JS phải nằm trước*/
  -webkit-transform: rotate(-450deg) translateX(-0.8rem);
          transform: rotate(-450deg) translateX(-0.8rem);
}

.container {
  margin: auto;
  padding: 1.9rem 0;
  z-index: 9999;
}

.container .container_homepage {
  position: relative;
  /*TEXT SLIDER*/
  /*REAL SLIDER*/
  /*TITLE*/
}

.container .container_homepage .aboutMobile-title {
  display: none;
}

.container .container_homepage .homepage-banner--sliderMobile {
  display: none;
}

.container .container_homepage .text-transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.container .container_homepage .text-transition li {
  display: none;
  border: 2px solid black;
  width: 100%;
}

.container .container_homepage .homepage-banner--slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .homepage-banner--slider ul .slideAnimation {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1);
          box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.container .container_homepage .slider {
  width: 1000px;
}

.container .container_homepage .slider-img {
  width: 480px;
  height: 480px;
  border-radius: 8%;
}

.container .container_homepage .sliderAll {
  position: relative;
  width: 480px;
  height: 480px;
  margin: 0 -16.5rem;
  border-radius: 8%;
  cursor: pointer;
}

.container .container_homepage .sliderAll:hover .slider1-Content,
.container .container_homepage .sliderAll:hover .slider2-Content,
.container .container_homepage .sliderAll:hover .slider3-Content {
  display: block;
}

.container .container_homepage .slider1-Content,
.container .container_homepage .slider2-Content,
.container .container_homepage .slider3-Content {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
}

.container .container_homepage .slider1-Content .img-mask,
.container .container_homepage .slider2-Content .img-mask,
.container .container_homepage .slider3-Content .img-mask {
  position: absolute;
  z-index: 2;
  background: #ff6961;
}

.container .container_homepage .slider1-Content .lt,
.container .container_homepage .slider2-Content .lt,
.container .container_homepage .slider3-Content .lt {
  left: 0;
  top: 0;
  width: 25%;
  height: 50.5%;
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 16% 0 0 0;
}

.container .container_homepage .slider1-Content:hover .lt,
.container .container_homepage .slider2-Content:hover .lt,
.container .container_homepage .slider3-Content:hover .lt {
  width: 50%;
  opacity: 1;
}

.container .container_homepage .slider1-Content .rt,
.container .container_homepage .slider2-Content .rt,
.container .container_homepage .slider3-Content .rt {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 25%;
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 0 16% 0 0;
}

.container .container_homepage .slider1-Content:hover .rt,
.container .container_homepage .slider2-Content:hover .rt,
.container .container_homepage .slider3-Content:hover .rt {
  height: 50%;
  opacity: 1;
}

.container .container_homepage .slider1-Content .lb,
.container .container_homepage .slider2-Content .lb,
.container .container_homepage .slider3-Content .lb {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 25%;
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 0 0 0 16%;
}

.container .container_homepage .slider1-Content:hover .lb,
.container .container_homepage .slider2-Content:hover .lb,
.container .container_homepage .slider3-Content:hover .lb {
  height: 50%;
  opacity: 1;
}

.container .container_homepage .slider1-Content .rb,
.container .container_homepage .slider2-Content .rb,
.container .container_homepage .slider3-Content .rb {
  right: 0;
  bottom: 0;
  width: 25%;
  height: 50.5%;
  opacity: 0;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 0 0 16% 0;
}

.container .container_homepage .slider1-Content:hover .rb,
.container .container_homepage .slider2-Content:hover .rb,
.container .container_homepage .slider3-Content:hover .rb {
  width: 50%;
  opacity: 1;
}

.container .container_homepage .slider1-Content:hover .mainTitle,
.container .container_homepage .slider1-Content:hover .descriptionTitle,
.container .container_homepage .slider1-Content:hover .moreBtn,
.container .container_homepage .slider2-Content:hover .mainTitle,
.container .container_homepage .slider2-Content:hover .descriptionTitle,
.container .container_homepage .slider2-Content:hover .moreBtn,
.container .container_homepage .slider3-Content:hover .mainTitle,
.container .container_homepage .slider3-Content:hover .descriptionTitle,
.container .container_homepage .slider3-Content:hover .moreBtn {
  opacity: 1;
}

.container .container_homepage .slider1-Content .mainTitle,
.container .container_homepage .slider2-Content .mainTitle,
.container .container_homepage .slider3-Content .mainTitle {
  position: absolute;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 3;
  left: 0;
  top: 12%;
  opacity: 0;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-name: slide-in-up, fade-in;
          animation-name: slide-in-up, fade-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .slider1-Content .descriptionTitle,
.container .container_homepage .slider2-Content .descriptionTitle,
.container .container_homepage .slider3-Content .descriptionTitle {
  position: absolute;
  width: 100%;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 3;
  left: 0;
  bottom: 30%;
  font-weight: 600;
  opacity: 0;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-name: slide-in-down, fade-in;
          animation-name: slide-in-down, fade-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .slider1-Content .moreBtn,
.container .container_homepage .slider2-Content .moreBtn,
.container .container_homepage .slider3-Content .moreBtn {
  position: absolute;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 3;
  left: 0;
  bottom: 10%;
  opacity: 0;
}

.container .container_homepage .slider1-Content .moreBtn:hover,
.container .container_homepage .slider2-Content .moreBtn:hover,
.container .container_homepage .slider3-Content .moreBtn:hover {
  -webkit-transform: translateX(1.5rem);
          transform: translateX(1.5rem);
}

.container .container_homepage .slider1-Content .moreBtn button,
.container .container_homepage .slider2-Content .moreBtn button,
.container .container_homepage .slider3-Content .moreBtn button {
  background: #ff6961;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  height: 44px;
  line-height: 44px;
}

.container .container_homepage .slider1-Content .moreBtn button a,
.container .container_homepage .slider2-Content .moreBtn button a,
.container .container_homepage .slider3-Content .moreBtn button a {
  text-decoration: none;
  color: #fff;
}

.container .container_homepage .chuyenslide {
  position: absolute;
  top: 50%;
  right: 0;
}

.container .container_homepage .chuyenslide:hover {
  right: 30px;
}

.container .container_homepage .chuyenslide .next {
  background: #dddddd;
  width: 66px;
  height: 6px;
  right: 0;
  z-index: 9999;
  cursor: pointer;
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .chuyenslide .next .a {
  position: absolute;
  top: 2px;
  right: -3px;
  background: #dddddd;
  width: 30px;
  height: 6px;
  z-index: 999;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
}

.container .container_homepage .chuyenslide .next .b {
  position: absolute;
  top: -2px;
  right: -3px;
  background: #dddddd;
  width: 30px;
  height: 6px;
  z-index: 999;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
}

.container .container_homepage .chuyenslide .next:hover .a {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.container .container_homepage .chuyenslide .next:hover .b {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}

.container .container_homepage .homepage-title {
  position: absolute;
  top: 2rem;
  left: 14rem;
  font-weight: 700;
  z-index: 99;
  line-height: 3em;
  width: 450px;
}

.container .container_homepage .homepage-title .homepage-title--mainTitle {
  position: relative;
  color: #333;
  font-size: 2.6em;
  z-index: 99;
  opacity: 0;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-name: fade-in-text;
          animation-name: fade-in-text;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 1500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 1500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .homepage-title .homepage-title--mainTitle .line1 {
  position: absolute;
  bottom: 5px;
  left: -20px;
  background: #dddddd;
  height: 8px;
  width: 19%;
  z-index: -1;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-name: grey-flash;
          animation-name: grey-flash;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .homepage-title .homepage-title--mainTitle .line2 {
  position: absolute;
  width: 30%;
  height: 100%;
  background: #ff6961;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-name: red-flash;
          animation-name: red-flash;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .homepage-title .homepage-title--contentTitle {
  font-size: 2.5em;
}

.container .container_homepage .homepage-title .homepage-title--contentTitle p {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  height: 1.3em;
  line-height: 1.3em;
}

.container .container_homepage .homepage-title .homepage-title--contentTitle p:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .container_homepage .homepage-title .allWork {
  text-decoration: none;
}

.container .container_homepage .homepage-title .allWork button {
  margin-top: 30px;
  background: #ff6961;
  padding-left: 20px;
  padding-right: 20px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  border: 0;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
}

.container .container_homepage .homepage-title .sliderStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.container .container_homepage .homepage-title .sliderStatus .sliderStatus-left {
  width: 20%;
  float: left;
}

.container .container_homepage .homepage-title .sliderStatus .sliderStatus-right {
  width: 40%;
  float: left;
  background: #f2f2f2;
  height: 3px;
  display: block;
  margin-top: 24px;
}

.container .container_homepage .homepage-title .sliderStatus .sliderStatus-right .sliderProgress {
  width: 33.33%;
  display: block;
  height: 3px;
  background: #ff6961;
}

@-webkit-keyframes grey-flash {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

@keyframes grey-flash {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

@-webkit-keyframes red-flash {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  50% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  51% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  100% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}

@keyframes red-flash {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  50% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  51% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  100% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #ff6961;
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #ff6961;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-up {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-in-up {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  height: 114px;
  clear: both;
  padding: 0 8% 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer .contact a {
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-top: 4px;
  color: #333;
}

.footer .contact a:hover {
  color: #ff6961;
}

.footer .contact span {
  display: block;
  color: #aaa;
  font-size: 0.75em;
}

.footer .tel {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer .tel a {
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-top: 4px;
  color: #333;
}

.footer .tel a:hover {
  color: #ff6961;
}

.footer .tel span {
  display: block;
  color: #aaa;
  font-size: 0.75em;
}

.footer .social {
  width: 40%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3rem;
}

.footer .social .social-icon {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.footer .social .social-icon:hover {
  color: #ff6961;
}

.footer .social .social-icon .fab {
  font-size: 1.35em;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.navbarMobile {
  z-index: 99999;
}

.header {
  min-width: 100%;
  height: 100px;
  padding: 0 8% 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .logo a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  color: #333;
}

.header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header nav .nav-links .nav-links--link {
  color: #333;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
}

.header nav .nav-links .nav-links--link .link {
  text-decoration: none;
  color: #333;
  font-weight: 650;
}

.header nav .nav-links .nav-links--link .link:hover {
  color: #ff6961;
}

.header .menu-toggler {
  position: absolute;
  height: 2rem;
  width: 3rem;
  top: 1.9rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 650ms ease-out;
  transition: -webkit-transform 650ms ease-out;
  transition: transform 650ms ease-out;
  transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: none;
}

.header .menu-toggler .bar {
  background: #ff6961;
  border-radius: 0.8rem;
  width: 100%;
  height: 4px;
  display: block;
}

.header .menu-toggler .half {
  width: 50%;
}

.header .menu-toggler .start {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.header .menu-toggler .end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.header .menu-toggler .open .bar.end {
  /*vì nó là class con nên đặt tên cho class tác động trên JS phải nằm trước*/
  -webkit-transform: rotate(-450deg) translateX(-0.8rem);
          transform: rotate(-450deg) translateX(-0.8rem);
}

.header .menu-toggler.open {
  /*vì nó là class cha nên đặt tên cho class tác động trên JS phải nằm sau*/
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /*xoay theo chiều Z (tức xoay phẳng 2D)*/
}

.header .open .bar {
  background: #dddddd;
}

.header .open .bar.start {
  /*vì nó là class con nên đặt tên cho class tác động trên JS phải nằm trước*/
  -webkit-transform: rotate(-450deg) translateX(0.8rem);
          transform: rotate(-450deg) translateX(0.8rem);
}

.header .open .bar.end {
  /*vì nó là class con nên đặt tên cho class tác động trên JS phải nằm trước*/
  -webkit-transform: rotate(-450deg) translateX(-0.8rem);
          transform: rotate(-450deg) translateX(-0.8rem);
}

.container {
  margin: auto;
  padding: 1.9rem 0;
  z-index: 9999;
}

.container .container_homepage {
  position: relative;
  /*TEXT SLIDER*/
  /*REAL SLIDER*/
  /*TITLE*/
}

.container .container_homepage .aboutMobile-title {
  display: none;
}

.container .container_homepage .homepage-banner--sliderMobile {
  display: none;
}

.container .container_homepage .text-transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.container .container_homepage .text-transition li {
  display: none;
  border: 2px solid black;
  width: 100%;
}

.container .container_homepage .homepage-banner--slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .homepage-banner--slider ul .slideAnimation {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1);
          box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.container .container_homepage .slider {
  width: 1000px;
}

.container .container_homepage .slider-img {
  width: 480px;
  height: 480px;
  border-radius: 8%;
}

.container .container_homepage .sliderAll {
  position: relative;
  width: 480px;
  height: 480px;
  margin: 0 -16.5rem;
  border-radius: 8%;
  cursor: pointer;
}

.container .container_homepage .sliderAll:hover .slider1-Content,
.container .container_homepage .sliderAll:hover .slider2-Content,
.container .container_homepage .sliderAll:hover .slider3-Content {
  display: block;
}

.container .container_homepage .slider1-Content,
.container .container_homepage .slider2-Content,
.container .container_homepage .slider3-Content {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
}

.container .container_homepage .slider1-Content .img-mask,
.container .container_homepage .slider2-Content .img-mask,
.container .container_homepage .slider3-Content .img-mask {
  position: absolute;
  z-index: 2;
  background: #ff6961;
}

.container .container_homepage .slider1-Content .lt,
.container .container_homepage .slider2-Content .lt,
.container .container_homepage .slider3-Content .lt {
  left: 0;
  top: 0;
  width: 25%;
  height: 50.5%;
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 16% 0 0 0;
}

.container .container_homepage .slider1-Content:hover .lt,
.container .container_homepage .slider2-Content:hover .lt,
.container .container_homepage .slider3-Content:hover .lt {
  width: 50%;
  opacity: 1;
}

.container .container_homepage .slider1-Content .rt,
.container .container_homepage .slider2-Content .rt,
.container .container_homepage .slider3-Content .rt {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 25%;
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 0 16% 0 0;
}

.container .container_homepage .slider1-Content:hover .rt,
.container .container_homepage .slider2-Content:hover .rt,
.container .container_homepage .slider3-Content:hover .rt {
  height: 50%;
  opacity: 1;
}

.container .container_homepage .slider1-Content .lb,
.container .container_homepage .slider2-Content .lb,
.container .container_homepage .slider3-Content .lb {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 25%;
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 0 0 0 16%;
}

.container .container_homepage .slider1-Content:hover .lb,
.container .container_homepage .slider2-Content:hover .lb,
.container .container_homepage .slider3-Content:hover .lb {
  height: 50%;
  opacity: 1;
}

.container .container_homepage .slider1-Content .rb,
.container .container_homepage .slider2-Content .rb,
.container .container_homepage .slider3-Content .rb {
  right: 0;
  bottom: 0;
  width: 25%;
  height: 50.5%;
  opacity: 0;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 0 0 16% 0;
}

.container .container_homepage .slider1-Content:hover .rb,
.container .container_homepage .slider2-Content:hover .rb,
.container .container_homepage .slider3-Content:hover .rb {
  width: 50%;
  opacity: 1;
}

.container .container_homepage .slider1-Content:hover .mainTitle,
.container .container_homepage .slider1-Content:hover .descriptionTitle,
.container .container_homepage .slider1-Content:hover .moreBtn,
.container .container_homepage .slider2-Content:hover .mainTitle,
.container .container_homepage .slider2-Content:hover .descriptionTitle,
.container .container_homepage .slider2-Content:hover .moreBtn,
.container .container_homepage .slider3-Content:hover .mainTitle,
.container .container_homepage .slider3-Content:hover .descriptionTitle,
.container .container_homepage .slider3-Content:hover .moreBtn {
  opacity: 1;
}

.container .container_homepage .slider1-Content .mainTitle,
.container .container_homepage .slider2-Content .mainTitle,
.container .container_homepage .slider3-Content .mainTitle {
  position: absolute;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 3;
  left: 0;
  top: 12%;
  opacity: 0;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-name: slide-in-up, fade-in;
          animation-name: slide-in-up, fade-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .slider1-Content .descriptionTitle,
.container .container_homepage .slider2-Content .descriptionTitle,
.container .container_homepage .slider3-Content .descriptionTitle {
  position: absolute;
  width: 100%;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 3;
  left: 0;
  bottom: 30%;
  font-weight: 600;
  opacity: 0;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-name: slide-in-down, fade-in;
          animation-name: slide-in-down, fade-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .slider1-Content .moreBtn,
.container .container_homepage .slider2-Content .moreBtn,
.container .container_homepage .slider3-Content .moreBtn {
  position: absolute;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 3;
  left: 0;
  bottom: 10%;
  opacity: 0;
}

.container .container_homepage .slider1-Content .moreBtn:hover,
.container .container_homepage .slider2-Content .moreBtn:hover,
.container .container_homepage .slider3-Content .moreBtn:hover {
  -webkit-transform: translateX(1.5rem);
          transform: translateX(1.5rem);
}

.container .container_homepage .slider1-Content .moreBtn button,
.container .container_homepage .slider2-Content .moreBtn button,
.container .container_homepage .slider3-Content .moreBtn button {
  background: #ff6961;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  height: 44px;
  line-height: 44px;
}

.container .container_homepage .slider1-Content .moreBtn button a,
.container .container_homepage .slider2-Content .moreBtn button a,
.container .container_homepage .slider3-Content .moreBtn button a {
  text-decoration: none;
  color: #fff;
}

.container .container_homepage .chuyenslide {
  position: absolute;
  top: 50%;
  right: 0;
}

.container .container_homepage .chuyenslide:hover {
  right: 30px;
}

.container .container_homepage .chuyenslide .next {
  background: #dddddd;
  width: 66px;
  height: 6px;
  right: 0;
  z-index: 9999;
  cursor: pointer;
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .chuyenslide .next .a {
  position: absolute;
  top: 2px;
  right: -3px;
  background: #dddddd;
  width: 30px;
  height: 6px;
  z-index: 999;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
}

.container .container_homepage .chuyenslide .next .b {
  position: absolute;
  top: -2px;
  right: -3px;
  background: #dddddd;
  width: 30px;
  height: 6px;
  z-index: 999;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
}

.container .container_homepage .chuyenslide .next:hover .a {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.container .container_homepage .chuyenslide .next:hover .b {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}

.container .container_homepage .homepage-title {
  position: absolute;
  top: 2rem;
  left: 14rem;
  font-weight: 700;
  z-index: 99;
  line-height: 3em;
  width: 450px;
}

.container .container_homepage .homepage-title .homepage-title--mainTitle {
  position: relative;
  color: #333;
  font-size: 2.6em;
  z-index: 99;
  opacity: 0;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-name: fade-in-text;
          animation-name: fade-in-text;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 1500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 1500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .homepage-title .homepage-title--mainTitle .line1 {
  position: absolute;
  bottom: 5px;
  left: -20px;
  background: #dddddd;
  height: 8px;
  width: 19%;
  z-index: -1;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-name: grey-flash;
          animation-name: grey-flash;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .homepage-title .homepage-title--mainTitle .line2 {
  position: absolute;
  width: 30%;
  height: 100%;
  background: #ff6961;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-name: red-flash;
          animation-name: red-flash;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.container .container_homepage .homepage-title .homepage-title--contentTitle {
  font-size: 2.5em;
}

.container .container_homepage .homepage-title .homepage-title--contentTitle p {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  height: 1.3em;
  line-height: 1.3em;
}

.container .container_homepage .homepage-title .homepage-title--contentTitle p:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .container_homepage .homepage-title .allWork {
  text-decoration: none;
}

.container .container_homepage .homepage-title .allWork button {
  margin-top: 30px;
  background: #ff6961;
  padding-left: 20px;
  padding-right: 20px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  border: 0;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
}

.container .container_homepage .homepage-title .sliderStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.container .container_homepage .homepage-title .sliderStatus .sliderStatus-left {
  width: 20%;
  float: left;
}

.container .container_homepage .homepage-title .sliderStatus .sliderStatus-right {
  width: 40%;
  float: left;
  background: #f2f2f2;
  height: 3px;
  display: block;
  margin-top: 24px;
}

.container .container_homepage .homepage-title .sliderStatus .sliderStatus-right .sliderProgress {
  width: 33.33%;
  display: block;
  height: 3px;
  background: #ff6961;
}

@keyframes grey-flash {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

@keyframes red-flash {
  0% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  50% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  51% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  100% {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #ff6961;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-up {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  height: 114px;
  clear: both;
  padding: 0 8% 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer .contact a {
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-top: 4px;
  color: #333;
}

.footer .contact a:hover {
  color: #ff6961;
}

.footer .contact span {
  display: block;
  color: #aaa;
  font-size: 0.75em;
}

.footer .tel {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer .tel a {
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-top: 4px;
  color: #333;
}

.footer .tel a:hover {
  color: #ff6961;
}

.footer .tel span {
  display: block;
  color: #aaa;
  font-size: 0.75em;
}

.footer .social {
  width: 40%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3rem;
}

.footer .social .social-icon {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.footer .social .social-icon:hover {
  color: #ff6961;
}

.footer .social .social-icon .fab {
  font-size: 1.35em;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.navbarMobile {
  z-index: 99999;
}

@media screen and (max-width: 700px) {
  .header nav {
    display: none;
  }
  .header .menu-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer {
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .contact,
  .footer .tel,
  .footer .social {
    width: 100%;
  }
  .footer .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2rem;
  }
  /*HOMEPAGE*/
  .container {
    height: 105%;
    padding: 0;
  }
  .container .container_homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .container .container_homepage .homepage-banner--slider,
  .container .container_homepage .chuyenslide,
  .container .container_homepage .text-transition {
    display: none !important;
  }
  .container .container_homepage .homepage-title {
    position: relative !important;
    left: 0;
    padding: 0 8%;
    line-height: 2.2em;
    width: 100%;
  }
  .container .container_homepage .homepage-title .sliderStatus {
    display: none !important;
  }
  .container .container_homepage .homepage-title .homepage-title--contentTitle,
  .container .container_homepage .homepage-title .homepage-title--mainTitle {
    font-size: 1.8em !important;
  }
  .container .container_homepage .aboutMobile-title {
    display: block !important;
    width: 100%;
    padding: 0 8%;
    color: #888;
    line-height: 1.7em;
    text-align: left;
  }
  .container .container_homepage .homepage-banner--sliderMobile {
    margin-top: 2rem;
    display: block;
    width: 100%;
    overflow-x: scroll;
  }
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper {
    display: block;
    white-space: nowrap;
    padding: 0 5%;
  }
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll {
    display: inline-block;
    width: 350px;
    height: 350px;
    margin: 0 1rem;
    border-radius: 0;
  }
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider-img {
    width: 350px;
    height: 350px;
    border-radius: 0;
  }
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider1-Content,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider2-Content,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider3-Content {
    font-size: 0.8rem;
  }
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider1-Content .lt,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider1-Content .rt,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider1-Content .lb,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider1-Content .rb,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider2-Content .lt,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider2-Content .rt,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider2-Content .lb,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider2-Content .rb,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider3-Content .lt,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider3-Content .rt,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider3-Content .lb,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider3-Content .rb {
    border-radius: 0;
  }
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider1-Content .mainTitle,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider2-Content .mainTitle,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider3-Content .mainTitle {
    border: 2px solid black;
    width: 100%;
  }
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider1-Content .descriptionTitle,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider2-Content .descriptionTitle,
  .container .container_homepage .homepage-banner--sliderMobile .homepage-banner--sliderMobile_wrapper .sliderAll .slider3-Content .descriptionTitle {
    border: 2px solid black;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

html,
body {
  height: 100%;
  background: #fff;
  font-weight: 400;
  font-size: 17px;
  color: #333;
  overflow-x: hidden;
}

.header,
.container,
.footer {
  margin: auto;
  position: relative;
}

/*Cursor*/
.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  z-index: 9999;
}

.cursor2 {
  position: fixed;
  width: 5px;
  height: 5px;
  background: gray;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0s;
  transition: 0s;
  z-index: 9999;
}

.link-grow_cursor {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: #333;
  opacity: 0.3;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.link-grow_cursor2 {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */